.advantages {
    min-height: 470px;
    background: #F6F6F6;
    &__wrapper {
        display: flex;
        flex-direction: column;
        // align-items: center;
    }
    &__icons {
        margin-top: 60px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 270px;
        align-items: center;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            width: 70px;
        }
    }
    &__title {
        margin-top: 30px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        a {
            position: relative;
            color: #FF0000;
            text-transform: uppercase;
            font-size: 12px;
            text-decoration: none;
            transition: all 0.3s;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 1px;
                background-color: #FF0000;
                transform: scaleX(1);
                transition: transform 0.3s ease;
            }
            &:hover::after {
                transform: scaleX(0);
            }
        }
    }

    .icon-puls {
        animation: pulse 1.2s ease-in-out infinite;
        &:hover {
            animation-play-state: paused;
        }
      }
}