.footer {
    height: 520px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 340px;
        height: 210px;
        background-color: #c70101fb;
        padding: 30px 55px 40px 55px;
    }
    &__addr {
        margin-bottom: 25px;
        color: #ffffff;
        text-align: center;
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
    }
    &__phone {
        display: block;
        margin-bottom: 25px;
        text-decoration: none;
        color: #ffffff;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 2px solid #ffffff;
        border-radius: 100%;
        margin: 0 15px;
        img {
            height: 15px;
        }

    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}